<h1>Contact</h1>
<p>
	Créez d'abord les relations r et s, et ajoutez quelques tuples aux deux relations, avant de trouver le plan choisi; ou utiliser les relations existantes à la place de r et s. Comparez le plan choisi avec le plan choisi pour une requête assimilant directement r.A = s.B. Vérifiez également les statistiques estimées. Certaines bases de données peuvent donner le même plan, mais avec des statistiques très différentes. (Sur PostgreSQL, nous avons constaté que l'optimiseur utilisait le plan de jointure par fusion décrit dans la réponse à la partie suivante de cette question.)
</p>

<p>Email: momodioum10@gmail.com</p>